@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300');
* {
	margin: 0;
	padding: 0;
}

body {
	width: 1264px;
	margin: auto;
}

/*navigation*/ 
.topnav a{
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.70952182775769,0,0,0.70952182775769,0,0);
  -webkit-transform: matrix( 0.70952182775769,0,0,0.70952182775769,0,0);
  -ms-transform: matrix( 0.70952182775769,0,0,0.70952182775769,0,0);
  font-weight: 200;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 35px;
}

.topnav {
	position: fixed;
	padding-left: 56px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 0.5px solid #aaaaaa;
    width: 1264px;
    background-color: white;
    opacity: 0.99;
}

nav img{
	width: 30px;
	height: 33.3px;
	float: right;
	padding-right: 80px;
}

/*header*/
iframe {
	
	padding-left: 56px;
	padding-top: 30px;
}

.logo {
	width: 100px;
	height: 111px;
	padding-top: 160px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.personal{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: #e71717;
	font-size: 32px;
	text-transform: uppercase;
	padding-top: 30px;
	padding-bottom: 100px;
}

/*main*/
/*about*/
.about h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: solid 1px #e71717;
	display: inline;
	font-size: 40px;
	margin-left: 56px;
}

.about p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	padding-top: 25px;
	width: 65%;
	font-size: 27px;
	margin-left: 56px;
}

.about img {
	width: 290px;
    float: right;
    margin-top: -260px;
    padding-right: 56px;
}

.about {
	padding-bottom: 80px;
}

/*projects*/
.projects {
	background-color: #F5F5F5;
	/*background-color: white;*/
	margin-top: -5px;
}

.projects h1, footer h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: solid 1px #e71717;
	display: inline;
	font-size: 40px;
	margin-left: 56px;
}

/*ixd & technology */
.ixd {
	background-color: #F5F5F5;
	margin-bottom: -1px;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #e71717;
	font-size: 52px;
	padding-top: 40px;
	margin-bottom: 30px;
	margin-left: 80px;
}

.ixdtext {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	width: 60%;
	font-size: 27px;
	margin-left: 80px;	
}

.mright {
	width: 180px;
	height: 479.358px;
	float: right;
	margin-top: -220px;
    padding-right: 56px;
}

.lleft {
	width: 630px;
	height: 340.153px;
	padding-top: 100px;
	margin-left: 20px;
	margin-bottom: 40px;
}

.right{
	float: right;
	margin-right: 56px;
	margin-top: -150px;
}

.toolsright {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: #e71717;
	font-size: 25px;
}

.skills {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 27px;
}

.prg {
	background-color: white;
}

/*project G*/
.h2right {
	float: right;
	margin-right: 80px;
}

.textright {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	width: 60%;
	font-size: 27px;
	margin-right: 80px;
	float: right;
	text-align: right;
}

.mleft {
	width: 180px;
	height: 479.358px;
	float: left;
	margin-top: -110px;
    padding-left: 56px;
}

.lright {
	width: 630px;
	height: 340.153px;
	padding-top: 100px;
	margin-right: 20px;
	margin-bottom: 40px;
	float: right;
}

.left {
	float: left;
	margin-left: 56px;
	margin-top: 209px;

}


a {
	text-decoration: none;
}

/*KWFxOverblijf*/
.lleftgif {
	width: 630px;
	height: 340.153px;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 40px;
}

.rightkwf {
	float: right;
	margin-right: 56px;
	margin-top: -194px;
    width: 241px;
}

/*companion*/
.leftc {
	float: left;
    margin-left: 56px;
    margin-top: 92px;
}

/*footer*/



footer img {
	width: 50px;
	
}

footer a {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: black;
	font-size: 35px;

}

.mail {
	position: block;
	text-align: center;
	padding-top: 40px;
}

.mail img{
	margin-top: 26px;
    padding-right: 16px;
}

.social img {
	padding: 20px;
	float: right;

}

.social {
	padding-right: 50px;
	padding-bottom: 30px;
}



